[data-id="intro"]{
    padding-left: calc(50vw + 41vh - 17vh);
    margin-top: calc(50vh + 8vh);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    line-height: 1.3;
}

[data-id="featured-image"]{
    margin-top: calc(-182px - 45px);
    width: calc(50vw - 10px);
    height: 33vw;
    left: 10px;
    
    & img { display: none; }
    & canvas { display: block; }
}

[data-id="details"] {
    padding-top: 50px;
    width: 210px;
    left: 50%;
    transform: translateX(-100%);
    line-height: 1.3;
}

[data-id="latest"] {
    z-index: 67;
    margin-top: 20px;
    padding: 150px 8vw;

    & .latest__block {
        width: calc(50% - 4vw);
    }
}

@media (max-width: 900px) {
    [data-id="intro"]{
        padding-left: 60vw;
        margin-top: calc(31vh + 8vh);
    }
}

@media (max-width: 767px) {
    [data-id="intro"]{
        padding-left: 8vw;
        margin-top: 50px;
        transform: none;
    }

    [data-id="featured-image"]{
        margin-top: 0;
        width: 84vw;
        left: 8vw;
        margin-top: 30px;
        height: auto;
    
        & img { display: block; }
        & canvas { display: none; }
    }

    [data-id="details"] {
        transform: none;
        width: 86vw;
        left: 8vw;
        padding-top: 40px;
    }

    [data-id="latest"] {
        padding: 40px 8vw 80px 8vw;
    }
}