[data-id="name-graphics"]{
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 82vh;
    height: 72vh;
    transition: 1s;
    transform: translate(-50%, -50%);
    pointer-events: none;

    & #s1, #t, #s2 { 
        height: 16vh; 

        & path { transition: 0.3s cubic-bezier(0.1, 0, 0, 1); }
    }

    & #s1 {
        top: 0;
        left: 0;
        transition: 0.3s cubic-bezier(0.1, 0, 0, 1);
    }

    & #t {
        top: 50%;
        left: 50%;
        transition: 0.3s cubic-bezier(0.1, 0, 0, 1);
        transform: translate(-50%, -50%);
    }

    & #s2 {
        bottom: 0;
        right: 0;
        transition: 0.3s cubic-bezier(0.1, 0, 0, 1);
    }
}

@media (max-width: 900px) {
    [data-id="name-graphics"]{
        width: 53vh;
        height: 72vh;

        & #s1, #t, #s2 { height: 10vh; }
    }
}